body {
    font-family: Arial;
    margin: 0;
}

main {
    background-color: white;
    padding-top:    10px;
    padding-bottom: 10px;
    
    column-count:   2;
    position: relative;
    height: 73vh;
}

header {
    font-size:  22px;
    background-color: #1c4587;
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 60px; 
}

footer {
    background-color: #1c4587;
    border-style: solid;
    border-width: thin;
    border-color: black;
    height: 80px;
}

h1 {
    text-align: center;
    color: white;
    margin: 0;
}

h2 {
    border-top-style: solid;
    border-top-width: 20px;
    border-top-color: #cde2f5;
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

.section1 {
    width: 400px;
    font-size: 14px;
    position: absolute;
    padding-left:   205px;
}

.section2 {
    width: 200px;
    font-size: 12px;
    position: relative;
    bottom:-238px;
    padding-left: 160px;
}